[submodule "extern/SDL"]
	path = extern/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "extern/simple-lua"]
	path = extern/simple-lua
	url = https://github.com/maxortner01/simple-lua
[submodule "extern/spirv-cross"]
	path = extern/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "extern/spirv-reflect"]
	path = extern/spirv-reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
[submodule "extern/VMA"]
	path = extern/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/sse2neon"]
	path = extern/sse2neon
	url = https://github.com/DLTcollab/sse2neon
[submodule "extern/implot"]
	path = extern/implot
	url = https://github.com/epezent/implot
